<% if @user.errors.any? %>
  <h3><%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved:</h3>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container mt-3">
  <div class="row">
    <h2 class="col-10">User info</h2>
    <div class="col-10">
    <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>

      <label>Name</label>
      <%= f.text_field :name, class: "form-control" %>

      <label>Image</label>
      <%= f.file_field :profile_image, accept: "image/*", class: "form-control-file" %>

      <label>Introduction</label>
      <%= f.text_area :introduction, class: "form-control" %>
      <%= f.submit "Update User", class: "btn btn-secondary" %>
    <% end%>
    </div>
  </div>
</div>